# Practice Case - Statistics

## Scenario

The data-set contains aggregate individual statistics for 67 NBA seasons. from basic box-score attributes such as points, assists, rebounds etc., to more advanced money-ball like features such as Value Over Replacement.

## Data Pre-processing

In this stage, dataset is filetered at beginning, only used data in 2017. We dropped duplicates data and deleted columns that had as many missing values as the entire row of data. We also imputed missing values with mean()

In [1]:
import pandas as pd
import numpy as np

### Read csv file and info

In [3]:
# Read csv file

df = pd.read_csv('Seasons_Stats.csv')

print('LIMA DATA TERATAS:')
print(df.head())

print('\nINFO DATASET:')
print(df.shape)

LIMA DATA TERATAS:
   Unnamed: 0    Year           Player  Pos   Age   Tm     G  GS  MP  PER  \
0           0  1950.0  Curly Armstrong  G-F  31.0  FTW  63.0 NaN NaN  NaN
1           1  1950.0     Cliff Barker   SG  29.0  INO  49.0 NaN NaN  NaN
2           2  1950.0    Leo Barnhorst   SF  25.0  CHS  67.0 NaN NaN  NaN
3           3  1950.0       Ed Bartels    F  24.0  TOT  15.0 NaN NaN  NaN
4           4  1950.0       Ed Bartels    F  24.0  DNN  13.0 NaN NaN  NaN

   ...    FT%  ORB  DRB  TRB    AST  STL  BLK  TOV     PF    PTS
0  ...  0.705  NaN  NaN  NaN  176.0  NaN  NaN  NaN  217.0  458.0
1  ...  0.708  NaN  NaN  NaN  109.0  NaN  NaN  NaN   99.0  279.0
2  ...  0.698  NaN  NaN  NaN  140.0  NaN  NaN  NaN  192.0  438.0
3  ...  0.559  NaN  NaN  NaN   20.0  NaN  NaN  NaN   29.0   63.0
4  ...  0.548  NaN  NaN  NaN   20.0  NaN  NaN  NaN   27.0   59.0

[5 rows x 53 columns]

INFO DATASET:
(24691, 53)

In [4]:
print('\nInfo dataset:')
print(df.info())

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24624 non-null  object
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  blanl       0 non-null      float64
 22  OWS         24585 non-null  float64
 23  DWS         24585 non-null  float64
 24  WS          24585 non-null  float64
 25  WS/48       24101 non-null  float64
 26  blank2      0 non-null      float64
 27  OBPM        20797 non-null  float64
 28  DBPM        20797 non-null  float64
 29  BPM         20797 non-null  float64
 30  VORP        20797 non-null  float64
 31  FG          24624 non-null  float64
 32  FGA         24624 non-null  float64
 33  FG%         24525 non-null  float64
 34  3P          18927 non-null  float64
 35  3PA         18927 non-null  float64
 36  3P%         15416 non-null  float64
 37  2P          24624 non-null  float64
 38  2PA         24624 non-null  float64
 39  2P%         24496 non-null  float64
 40  eFG%        24525 non-null  float64
 41  FT          24624 non-null  float64
 42  FTA         24624 non-null  float64
 43  FT%         23766 non-null  float64
 44  ORB         20797 non-null  float64
 45  DRB         20797 non-null  float64
 46  TRB         24312 non-null  float64
 47  AST         24624 non-null  float64
 48  STL         20797 non-null  float64
 49  BLK         20797 non-null  float64
 50  TOV         19645 non-null  float64
 51  PF          24624 non-null  float64
 52  PTS         24624 non-null  float64
dtypes: float64(49), int64(1), object(3)
memory usage: 10.0+ MB
None

### Filter data into only year in 2017

In [5]:
# Filtering Data into Year 2017

df2=df[df['Year']==2017]

In [6]:
df2.shape # rows of dataset reducing due to filtering

(595, 53)

### Deduplication Data

There are some players who make team transfers in the NBA transfer market so that there is duplication of player data

In [9]:
 df2.duplicated(subset=None).sum()

0

In [10]:
# Drop duplications
df2.drop_duplicates(subset='Player', keep='last', inplace=True)

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
# Check shape (rows dan coloumns) after deduplication data
print('Shape akhir: ', df2.shape)

Shape akhir:  (486, 53)

### Handling Missing Values

In [12]:
#Counting Missing Values per column

df2.isna().sum()

Unnamed: 0      0
Year            0
Player          0
Pos             0
Age             0
Tm              0
G               0
GS              0
MP              0
PER             0
TS%             2
3PAr            2
FTr             2
ORB%            0
DRB%            0
TRB%            0
AST%            0
STL%            0
BLK%            0
TOV%            2
USG%            0
blanl         486
OWS             0
DWS             0
WS              0
WS/48           0
blank2        486
OBPM            0
DBPM            0
BPM             0
VORP            0
FG              0
FGA             0
FG%             2
3P              0
3PA             0
3P%            39
2P              0
2PA             0
2P%             4
eFG%            2
FT              0
FTA             0
FT%            18
ORB             0
DRB             0
TRB             0
AST             0
STL             0
BLK             0
TOV             0
PF              0
PTS             0
dtype: int64

Column "blanl" and "blank2" had missing value in entire rows, we decided to drop the columns. Several columns had missing values and we decided to impute using average values.

In [14]:
# Drop Columns

df2.drop(['blanl', 'blank2'], axis=1, inplace=True)

C:\Users\hp\Anaconda3\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [16]:
print('\nDATASET SHAPE After drop columns:')
print(df2.shape)

DATASET SHAPE After drop columns:
(486, 51)

In [17]:
# Filling the missing value (imputation):

df2['3P%'].fillna(df2['3P%'].mean(),inplace=True)
df2['FT%'].fillna(df2['FT%'].mean(),inplace=True)
df2.fillna(0,inplace=True)

C:\Users\hp\Anaconda3\lib\site-packages\pandas\core\series.py:4439: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
C:\Users\hp\Anaconda3\lib\site-packages\pandas\core\frame.py:4465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [18]:
# Check missing data

df2.isna().sum()

Unnamed: 0    0
Year          0
Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
PER           0
TS%           0
3PAr          0
FTr           0
ORB%          0
DRB%          0
TRB%          0
AST%          0
STL%          0
BLK%          0
TOV%          0
USG%          0
OWS           0
DWS           0
WS            0
WS/48         0
OBPM          0
DBPM          0
BPM           0
VORP          0
FG            0
FGA           0
FG%           0
3P            0
3PA           0
3P%           0
2P            0
2PA           0
2P%           0
eFG%          0
FT            0
FTA           0
FT%           0
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
dtype: int64

### Problem Case No 1

1.	Who is the youngest and oldest player in the NBA in 2017 for each team (Tm) ?

In [19]:
# The youngest for each team in 2017

df2.groupby(by=['Tm']).min()[['Player','Age']]

               Player   Age
Tm
ATL   DeAndre' Bembry  22.0
BOS        Al Horford  20.0
BRK  Andrew Nicholson  21.0
CHI    Anthony Morrow  21.0
CHO    Aaron Harrison  21.0
CLE      Andrew Bogut  21.0
DAL      A.J. Hammons  21.0
DEN        Alonzo Gee  19.0
DET    Andre Drummond  20.0
GSW  Anderson Varejao  20.0
HOU       Bobby Brown  20.0
IND      Aaron Brooks  20.0
LAC     Alan Anderson  19.0
LAL    Brandon Ingram  19.0
MEM   Andrew Harrison  20.0
MIA      Dion Waiters  20.0
MIL       Gary Payton  19.0
MIN     Adreian Payne  20.0
NOP     Alexis Ajinca  20.0
NYK   Carmelo Anthony  21.0
OKC      Alex Abrines  20.0
ORL      Aaron Gordon  20.0
PHI    Alex Poythress  21.0
PHO     Alan Williams  19.0
POR   Al-Farouq Aminu  21.0
SAC  Anthony Tolliver  19.0
SAS       Bryn Forbes  20.0
TOR     Bruno Caboclo  21.0
UTA        Alec Burks  21.0
WAS  Bojan Bogdanovic  21.0

In [20]:
# The oldest for each team in 2017

df2.groupby(by=['Tm']).max()[['Player','Age']]

                      Player   Age
Tm
ATL             Tim Hardaway  36.0
BOS             Tyler Zeller  31.0
BRK            Trevor Booker  36.0
CHI              Robin Lopez  35.0
CHO           Treveon Graham  31.0
CLE         Tristan Thompson  38.0
DAL             Yogi Ferrell  38.0
DEN          Wilson Chandler  36.0
DET            Tobias Harris  34.0
GSW            Zaza Pachulia  36.0
HOU            Troy Williams  34.0
IND           Thaddeus Young  32.0
LAC           Wesley Johnson  39.0
LAL              Tyler Ennis  37.0
MEM            Zach Randolph  40.0
MIA              Willie Reed  36.0
MIL               Tony Snell  39.0
MIN              Zach LaVine  34.0
NOP              Tim Frazier  33.0
NYK        Willy Hernangomez  32.0
OKC           Victor Oladipo  36.0
ORL            Terrence Ross  32.0
PHI  Timothe Luwawu-Cabarrot  32.0
PHO           Tyson Chandler  34.0
POR           Tim Quarterman  28.0
SAC      Willie Cauley-Stein  31.0
SAS              Tony Parker  39.0
TOR              Serge Ibaka  31.0
UTA               Trey Lyles  35.0
WAS               Trey Burke  32.0

### Practice Case No 2
2.	Which player has the most minutes played (MP) in each position (Pos)?

In [21]:
MP = df2.groupby(by=['Pos']).max()[['Player','MP']]

In [22]:
MP

              Player      MP
Pos
C      Zaza Pachulia  3030.0
PF     Zach Randolph  2803.0
PG      Yogi Ferrell  2947.0
SF   Wilson Chandler  3048.0
SG       Zach LaVine  2796.0

### Practice Case No 3

3.	Which team has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)?

In [23]:
# Average Total Rebound Percentage (TRB%)

TRB = df2.groupby(by=['Tm']).mean()[['TRB%']].sort_values(by=['TRB%'], ascending = False). head(1)

TRB

          TRB%
Tm
WAS  12.735294

In [24]:
# Average Assist Percentage (AST%)

AST = df2.groupby(by=['Tm']).mean()[['AST%']].sort_values(by=['AST%'], ascending = False).head(1)
AST

          AST%
Tm
DEN  15.723529

In [25]:
# Average Steal Percentage (STL%)

STL = df2.groupby(by=['Tm']).mean()[['STL%']].sort_values(by=['STL%'], ascending = False).head(1)
STL

         STL%
Tm
MIN  2.413333

In [26]:
# Average Block Percentage (BLK%)

BLK = df2.groupby(by=['Tm']).mean()[['BLK%']].sort_values(by=['BLK%'], ascending = False).head(1)
BLK

         BLK%
Tm
MIL  2.741176

### Practice Case No 4

4.Who is the best player in your opinion based on his record stats? note: you can refer to variables point (PTS), assists, rebounds, or anything else. A combination of several variables would be nice.

In [28]:
#Best Player based on PER point

MVP= df2[df2['PER']==df2['PER'].max()][['Player', 'PER']]
MVP

               Player   PER
24600  Jarnell Stokes  31.5

### Practice Cas No 5

5.	Which team has the best average stat record of their players? Note: you can refer to points, assists, rebounds, or anything else. A combination of several variables would be nice

In [30]:
#Best Team based on PTS point

Best_team= df2.groupby(by=['Tm']).max()[['PTS']].sort_values(by=['PTS'], ascending = False).head(1)

Best_team

        PTS
Tm
OKC  2558.0